
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

  .logo { 
  background-repeat: no-repeat;
  background-position: left;
}


.hammy {
  background-repeat: no-repeat;
  background-position: right;
}

.container {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-areas:
  "header header"
  ". heroArea ."
  "mainContent mainContent mainContent"
  ". . socialFooter"
  ". mainFooter ."
  ". lowerContent .";
  grid-gap: 5px;
}

.container > div {
  background: #F2EBDD ;
  border: 1px black solid;
}

.header {
  grid-area: header;
  background-color: orange;
}

.heroArea {
 grid-area: heroArea;
 background-color: lightcoral;
}

.topLeft {
    color: black;
    font-family: Poppins;
    size: 91px;
    font-weight: bold;
    background-color: paleturquoise;

.topRight {
      color: black;
      size: 35px;
      font-weight: medium;
}

.buttonResume {
    background-color:#7ca89f;
    border-radius:6px;
    display:inline-block;
    color:#ffffff;
    font-family:'Poppins'sans-serif;
    font-size:26px;
    padding:13px 32px;
    text-decoration:none;
}

.mainContent {
  grid-area: mainContent;
  background-color: pink;
}

.buttonLearn {
  background-color:#7ca89f;
  border-radius:6px;
  display:inline-block;
  color:#ffffff;
  font-family:'Poppins'sans-serif;
  font-size:26px;
  padding:13px 32px;
  text-decoration:none;
}

.lowerContent {
  grid-area: lowerContent;
  background-color: lightgoldenrodyellow;
  font-family: "poppins" sans-serif;
}

.socialFooter {
  grid-area: socialFooter;
  background-color: lightslategrey; 
}

.social-icons {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .social-icons li {
   display:inline-block;
   list-style-type:none;
   }
 .social-icons li a {
   border-bottom: none;
   }
 .social-icons li img {
   width:25px;
   height:25px;
   margin-right: 20px;
 }

 .mainFooter {
  grid-area: mainFooter;
  background-color: lightslategrey; 
}